# Виртуальное окружение (Virtual Environment)
venv/
.env

# Кэш Python и байт-код
__pycache__/
*.pyc
*.pyo
*.pyd

# Сборка и релизы (Build & Distribution)
build/
dist/
*.spec
*.dmg

# Бинарные файлы ядра
sing-box

# Конфигурации и секреты (Local config & Secrets)
config.json
settings.json
.myvpn/

# Системные файлы macOS (System files)
.DS_Store
.AppleDouble
.LSOverride

# Настройки IDE (VS Code / Windsurf)
.vscode/
.history/